nav{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   .lightColors {
      display: flex;
   }
   h1 {
      @include serif;
      margin: 20px 10px;
   }

   .variations,
   .delete,
   .bulb {
      @include sanSerif;
      color: $dark;
      font-size: 1.29rem;
      font-weight: 700;
   }
   
   .variations,
   .delete {
      color: white;
   }
   .delete,
   .variations div{
      border: 1px solid $primary;
      width: 14rem;
      margin: 4px;
      padding: 5px 10px;
      text-align: center;
      display: inline-block;
      &:hover {
         background-color: white;
         color: $primary;
      }
   }
   .wLight {
      background-color: white;
   }
   .mLight {
      background-color: magenta;
   }
   .gLight {
      background-color: lime;
   }
   .cLight {
      background-color: cyan;
   }
   .yLight {
      background-color: yellow;
   }
   .pLight {
      background-color: pink;
   }
}

@media (max-width: 560px) {
   nav {
      display: block;
      .delete,
      .bulb{
         font-size: 1rem;
         margin: 5px;
         padding: 4px;
      }
   }
}