main {
   margin-bottom: 3rem;
   .wrapper {
      .container {
         display: grid;
         grid-template-columns: repeat(35, auto);
         grid-gap: 6px;
         justify-content: center;
         max-width: 90vw;
         margin: 3rem 0;
         .button {
            background-color: $dark;
            height: 2.5rem;
            width: 2.5rem;
            border: $border 1px solid;
            border-radius: 50%;
            &:hover {
               background-color: white;
            }
            &:focus {
               background-color: white;
            }
            .red {
            background-color: $rLight;
            }
            .blue{
            background-color: $rLight;
            }
            .yellow{
               background-color: $rLight;
            }
            .magenta{
               background-color: $rLight;
            }
         }
      }
   }
}
// LIGHT BULB CREATION
.bulb{
   background-color: $primary;
   color: $light;
   height: 2rem;
   width: 7rem;
   margin: 10px;
   text-align: center;
   padding: 2px;
   &:hover {
      background-color: $primary;
      color: white;
      
   }
   // ACCESSIBILITY 
   &:focus {
      background-color: $light;
      color: #c4eeff49;
   }
}

