main {
   .wrapper {
      nav{
         display: flex;
         justify-content: space-between;
        .lightColors {
           display: flex;
        }
      }
      .container {
         margin: 2rem 0;
         margin-top: 4rem;
         display: grid;
         grid-template-columns: repeat(35, auto);
         grid-gap: 6px;
         justify-content: center;
         .button {
            background-color: $dark;
            height: 2.8rem;
            width: 2.8rem;
            // margin: 0.3rem;
            border: $border 1px solid;
            border-radius: 50%;
            &:hover {
               background-color: white;
            }
            &:focus {
               background-color: white;
            }
            .red {
            background-color: $rLight;
            }
            .blue{
            background-color: $rLight;
            }
            .yellow{
               background-color: $rLight;
            }
            .magenta{
               background-color: $rLight;
            }
         }
      }
   }
   
}
.delete,
.bulb{
   background-color: $primary;
   color: $light;
   height: 2rem;
   width: 7rem;
   margin: 10px;
   text-align: center;
   padding: 5px;
   &:hover {
      background-color: $accent;
      color: $light;
   }
   &:focus {
      background-color: $accent;
      color: $light;
   }
}