main {
   .wrapper {
      border: $accent 3px solid;
      max-width: 90vw;

      .container {
         display: grid;
         grid-auto-flow: column;   
         overflow: hidden;
         margin: 10px;
         max-width: 90vw;

         .button {
            background-color: $dark;
            width: 2.2rem;
            height: 2.2rem;
            border: solid $border 1px;
            border-radius: 50%;
            margin: 5px;
         }
      }
   }
}


