.wrapper {
   border: $accent 3px solid;
   max-width: 90vw;
}

.container {
   background-color: $accent;
   display: grid;
   grid-auto-flow: column;   
   overflow: hidden;
   margin: 10px;
   max-width: 90vw;
}

button {
   background-color: inherit;
   border: none;
   padding: 0 5px;
}

.bulb {
   background-color: $light;
   width: 2rem;
   height: 2rem;
   border: solid $border 1px;
   border-radius: 50%;
}