// FONTS
$primaryFont: 'Raleway', sans-serif;
$font-secondary: 'Oleo Script', cursive;

// COLORS
$primary: #411CA8;
$secondary: #0E001C;
$accent: #FF009D5F;
$dark: #000000;
$light: #b9b48c;
$border: #2C2981;

// DIV LIGHT COLOURS
$gLight: #17FF32;
$mLight: #FF00F5;
$yLight: #FFEB00;
$wLight: #FDFFEB;
$bLight: #00EBFF;
$rLight: #FF003B;
$pLight: #2d00a7;

